@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
   /* --main-color:#8e44ad; */
   --main-color:#3369a7;
   --red:#e74c3c;
   --orange:#f39c12;
   --light-color:#888;
   --light-bg:#eee;
   --black:#2c3e50;
   --white:#fff;
   --border:.1rem solid rgba(0,0,0,.2);
}
/*  */
*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; 
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color:#fff;
}

html{
   scroll-behavior: smooth;
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
   height: .5rem;
}

html::-webkit-scrollbar-track{
   background-color: transparent;
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

body{
   background-color: var(--light-bg);
   
   font-size: 15px;
}

body.dark{
   --light-color:#aaa;
   --light-bg:#333;
   --black:#fff;
   --white:#222;
   --border:.1rem solid rgba(255,255,255,.2);
}

body.active{
   padding-left: 0;
}

section{
   padding:2rem;
   margin: 0 auto;
   max-width: 1200px;
}

.heading{
   font-size: 2.5rem;
   color:var(--black);
   margin-bottom: 2.5rem;
   border-bottom: var(--border);
   padding-bottom: 1.5rem;
   text-transform: capitalize;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn,
.btn,
.delete-btn,
.option-btn{
   border-radius: .5rem;
   color:#fff;
   font-size: 1.8rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:1rem 3rem;
   text-align: center;
   margin-top: 1rem;
}

.option-btn,
.delete-btn
{
   display: block;
   width: 100%;
}
.btn{
   border-radius: 15px;
   margin-left: 17px;
   display: block;
   width: 80%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
   display: inline-block;
}

.btn,
.inline-btn{
   background-color: var(--main-color);
}

.option-btn{
   background-color:var(--orange);
}
.inline-option-btn{
   background-color: var(--main-color);
}

.delete-btn,
.inline-delete-btn{
   background-color: var(--red);
}

.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover,
.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
   color: var(--white);
}

.flex-btn{
   display: flex;
   gap: 1rem;
}

.header{
   position: sticky;
   top:0; left:0; right: 0;
   background-color: var(--white);
   z-index: 1000;
   border-bottom: var(--border);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 1.5rem 2rem;
}

.header .flex .logo{
   font-size: 2.5rem;
   color: var(--black);
}

.header .flex .search-form{
   width: 50rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.5rem 2rem;
   display: flex;
   gap:2rem;

}

.header .flex .search-form input{
   width: 100%;
   font-size: 1.8rem;
   color:var(--black);
   background:none;
}

.header .flex .search-form button{
   background:none;
   font-size: 2rem;
   cursor: pointer;
   color:var(--black);
}

.header .flex .search-form button:hover{
   color: var(--main-color);
}

.header .flex .icons div{
   font-size: 2rem;
   color:var(--black);
   background-color: var(--light-bg);
   border-radius: .5rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   cursor: pointer;
   text-align: center;
   margin-left: .7rem;
}

.header .flex .icons div:hover{
   background-color: var(--black);
   color:var(--white);
}

.header .flex .profile{
   position: absolute;
   top:120%; right: 2rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 1.5rem;
   text-align: center;
   overflow: hidden;
   transform-origin: top right;
   transform: scale(0);
   transition: .2s linear;
   width: 30rem;
}

.header .flex .profile.active{
   transform: scale(1);
}

.header .flex .profile .image{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.header .flex .profile .name{
   font-size: 2rem;
   color:var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.header .flex .profile .role{
   font-size: 1.8rem;
   color: var(--light-color);
}

#search-btn{
   display: none;
}
.body{
   padding-left: 25rem;
}
.side-bar{
   position: fixed;
   /* top: 0;  */
   left: 0;
   width: 25rem;
   background-color: var(--white);
   height: 100vh;
   border-right: var(--border);
   z-index: 1200;
}
.navbar{
   padding-left: 43px;
}

.side-bar #close-btn{
   text-align: right;
   padding: 2rem;
   display: none;
}

.side-bar #close-btn i{
   text-align: right;
   font-size: 2.5rem;
   background:var(--red);
   border-radius: .5rem;
   color:var(--white);
   cursor: pointer;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   text-align: center;
}

.side-bar #close-btn i:hover, {
   background-color: var(--black);
}
.icons a:hover{
   color: var(--main-color);
   background-color: var(--light-bg);
}

.side-bar .profile{
   padding:3rem 2rem;
   text-align: center;
}

.side-bar .profile .image{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.side-bar .profile .name{
   font-size: 2rem;
   color:var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.side-bar .profile .role{
   font-size: 1.8rem;
   color: var(--light-color);
}

.side-bar .navbar a{
   display: block;
   padding: 2rem;
   font-size: 2rem;
}

.side-bar .navbar a i{
   margin-right: 1.5rem;
   color:var(--main-color);
   transition: .2s linear;
}

.side-bar .navbar a span{
   color:var(--light-color);
}

.side-bar .navbar a:hover{
   background-color: var(--light-bg);
}

.side-bar .navbar a:hover i{
   margin-right: 2.5rem;
}

.side-bar.active{
   left: -30rem;
}
.w3-light-grey,
      .w3-hover-light-grey:hover,
      .w3-light-gray,
      .w3-hover-light-gray:hover {
         color: #000 !important;
         background-color: #d3d1d1 !important;
         border-radius: 10px;
      }

      .w3-green,
      .w3-hover-green:hover {
         color: #fff !important;
         background-color: var(--main-color);
         border-radius: 10px;
         
      }

      .w3-center {
         text-align: center !important;
      }

      .w3-container,
      .w3-panel {
         padding: 0.01em 16px;
      }

      .w3-red,
      .w3-hover-red:hover {
         color: #fff !important;
         background-color: #f44336 !important;
      }

      .icons {
         font-size: 20px;

      }

      .icons a {
         background-color: var(--main-color);
         color: white;
         padding: 5px 10px;
         margin-right: 5px;
         border-radius: 20px;
      }
      /* head and side end */
      .courses .box-container{
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
         gap:1.5rem;
         justify-content: center;
         align-items: flex-start;
      }
      
      .courses .box-container .box{
         border-radius: .5rem;
         background-color: var(--white);
         padding: 2rem;
      }
      
      .courses .box-container .box .tutor{
         display: flex;
         align-items: center;
         gap: 1.5rem;
         margin-bottom: 2.5rem;
      }
      
      .courses .box-container .box .tutor img{
         height: 5rem;
         width: 5rem;
         border-radius: 50%;
         object-fit: cover;
      }
      
      .courses .box-container .box .tutor h3{
         font-size: 1.8rem;
         color: var(--black);
         margin-bottom: .2rem;
      }
      
      .courses .box-container .box .tutor span{
         font-size: 1.3rem;
         color:var(--light-color);
      }
      
      .courses .box-container .box .thumb{
         position: relative;
      }
      
      .courses .box-container .box .thumb span{
         position: absolute;
         top:1rem; left: 1rem;
         border-radius: .5rem;
         padding: .5rem 1.5rem;
         background-color: rgba(0,0,0,.3);
         color: #fff;
         font-size: 1.5rem;
      }
      
      .courses .box-container .box .thumb img{
         width: 100%;
         height: 20rem;
         object-fit: cover;
         border-radius: .5rem;
      }
      
      .courses .box-container .box .title{
         font-size: 2rem;
         color: var(--black);
         padding-bottom: .5rem;
         padding-top: 1rem;
      }
      
      .courses .more-btn{
         text-align: center;
         margin-top: 2rem;
      }
      /*footer  */
      .footer{
         background-color: var(--white);
         border-top: var(--border);
         /* position: sticky; */
         bottom: 0; left: 0; right: 0;
         text-align: center;
         font-size: 2rem;
         padding:2.5rem 2rem;
         color:var(--black);
         margin-top: 1rem;
         z-index: 1000;
         /* padding-bottom: 9.5rem; */
      }
      
      .footer span{
         color:var(--main-color);
      }
      /*announ  */
      #home-grid #box-container{
         display: grid ;
         grid-template-columns: repeat(auto-fit, 27.5rem);
         gap:1.5rem;
         justify-content: center;
         align-items: flex-start;
      }
      
      .home-grid .box-container .box{
         background-color: var(--white);
         border-radius: .5rem;
         padding:2rem;
      }
      
      .home-grid .box-container .box .title{
         font-size: 2rem;
         color: var(--black);
         text-transform: capitalize;
      }
      
      .home-grid .box-container .box .flex{
         display: flex;
         flex-wrap: wrap;
         gap: 1.5rem;
         margin-top: 2rem;
      }
      
      .home-grid .box-container .flex a{
         background-color: var(--light-bg);
         border-radius: .5rem;
         padding: 1rem 1.5rem;
         font-size: 1.5rem;
      }
      
      .home-grid .box-container .flex a i{
         margin-right: 1rem;
         color:var(--black);
      }
      
      .home-grid .box-container .flex a span{
         color:var(--light-color);
      }
      
      .home-grid .box-container .flex a:hover{
         background-color: var(--black);
      }
      
      .home-grid .box-container .flex a:hover span{
         color:var(--white);
      }
      
      .home-grid .box-container .flex a:hover i{
         color:var(--white);
      }
      
      .home-grid .box-container .tutor{
         padding: 1rem 0;
         font-size: 1.8rem;
         color:var(--light-color);
         line-height: 2;
      }
      
      .home-grid .box-container .likes{
         color:var(--light-color);
         font-size: 1.7rem;
         margin-top: 1.5rem;
      }
      
      .home-grid .box-container .likes span{
         color:var(--main-color);
      }
      table td{
         height: 40px;
         width: 10%;
         /* width: 20%; */
         text-align: center;
         border-collapse: collapse;
         
     }
     table{
         border-collapse: collapse;
         margin: 20px;
         border-color: var(--main-color);
     }
     .dow{
      display: flex;
     }

     .ano{
      height: 50vh;
      width: 70%;
      background-color: #fff;
      margin-right:2% ;
      border-radius: 20px;
     }
     .tol{
      height: 50vh;
      width: 30%;
      background-color: #fff;
      border-radius: 20px;
     }
     .form-container{
      min-height: calc(100vh - 20rem);
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
   .form-container form{
      border: none;
      background-color: var(--white);
      border-radius: .5rem;
      padding: 2rem;
      width: 50rem;
   }
   
   .form-container form h3{
      border: none;
      font-size: 2.5rem;
      text-transform: capitalize;
      color: var(--black);
      text-align: center;
   }
   
   .form-container form p{
      border: none;
      font-size: 1.7rem;
      color: var(--light-color);
      padding-top: 1rem;
   }
   
   .form-container form p span{
      border: none;
      color: var(--red);
   }
   
   .form-container form .box{
      border: none;
      font-size: 1.8rem;
      color: var(--black);
      border-radius: .5rem;
      padding: 1.4rem;
      background-color: var(--light-bg);
      width: 100%;
      margin: 1rem 0;
   }
.loginimg{
   background-color: var(--main-color);
   padding-left: 20%;
   padding-right: 20%;
}  